<!DOCTYPE html>
<html>
  <head>
    <title>{{cookiecutter.project_title}}</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'vue_pack' %>
    <%= javascript_pack_tag 'vue_pack' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
